<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :task_name , placeholder:"Task name" %>
  </div>
  <div class="field">
    <%= form.text_field :label_name ,placeholder:"Label name" %>
  </div>
  <div class="field">
    <%= form.date_field :start_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.date_field :end_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.text_field :status ,placeholder:"Status" %>
  </div>
  <hr>  
  <div class="actions">
    <%= form.submit "Create Task"  %>    
  </div>
<% end %>